<div>
  <br/>
  <div class="row">

    <div class="column middle">

      <div class="notice">
        <%= flash[:notice] %>
      </div>

      <div id="subtitle">
        Users

        <table class="user_table">
          <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Email</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <% @users.map do |user| %>
            <% next if user.id == current_user.id %>
            <tr>
              <td><img src=https://loremflickr.com/140/100></td>
              <td><%= user.first_name %></td>
              <td><%= user.email.gsub(/.{0,4}@/, '####@') %></td>
              <td>
                <% if current_user.already_friends_with?(user) %>
                  <%= form_with(scope: Friendship, url: "/friendships/#{current_user.id}", method: :delete) do |f| %>
                    <%= f.hidden_field :friend_a_id, value: current_user.id %>
                    <%= f.hidden_field :friend_b_id, value: user.id %>
                    <div class="actions"><%= f.submit "Remove friend", class: 'submit', id: "remove_friend_#{user.id}"%></div>
                  <% end %>
                <% else %>

                  <% if current_user.friend_request_for?(user.id) && current_user.pending_friend_request?(user.id) %>
                   YOU ASKED TO BE A FRIEND
                    <%= form_with(scope: FriendRequest, url: "/friend_request/remove_pending") do |f| %>
                      <%= f.hidden_field :friend_a_id, value: current_user.id %>
                      <%= f.hidden_field :friend_b_id, value: user.id %>
                      <div class="actions"><%= f.submit "Remove pending request", class: 'submit', id: "accept_friend_#{user.id}" %></div>
                    <% end %>
                  <% end %>

                  <% unless current_user.friend_request_for?(user.id) %>
                  <%=  form_with(scope: FriendRequest, url: '/friend_request/new') do |f|  %>
                      <%= f.hidden_field :friend_a_id, value: current_user.id %>
                      <%=  f.hidden_field :friend_b_id, value: user.id  %>
                      <div class="actions"><%=  f.submit "Request friendship", class: 'submit', id: "request_friend_#{user.id}" %></div>
                        <%  end  %>
                  <%  end %>

                  <% if current_user.friend_request_from?(user.id) && current_user.pending_friend_request?(user.id) %>
                    THEY ASKED TO BE YOUR FRIEND
                    <%= form_with(scope: FriendRequest, url: "/friend_request/accept") do |f| %>
                      <%= f.hidden_field :friend_a_id, value: current_user.id %>
                      <%= f.hidden_field :friend_b_id, value: user.id %>
                      <div class="actions"><%= f.submit "Accept friend request", class: 'submit', id: "accept_friend_#{user.id}", method: :accept %></div>
                    <% end %>
                    <%= form_with(scope: FriendRequest, url: '/friend_request/reject') do |f| %>
                      <%= f.hidden_field :friend_a_id, value: current_user.id %>
                      <%= f.hidden_field :friend_b_id, value: user.id %>
                      <div class="actions"><%= f.submit "Reject friend request", class: 'submit', id: "reject_friend_#{user.id}", method: :delete  %></div>
                    <% end %>
                  <% end %>

                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>