<div>
  <br/>
  <div class="row">

    <div class="column middle">

      <div class="notice">
        <%= flash[:notice] %>
      </div>

      <div id="subtitle">
        Global posts feed
      </div>

      <%= current_user.posts.count <= 0 ? "Make your first post!" : "You have made " + current_user.posts.count.to_s + " posts" %><br/>
      <%= current_user.comments <= 0 ? "You have made no comments" : "You have made " + current_user.comments.to_s + " comments" %>

      <div id="form">
        <%= form_with(scope: :post, url: '/posts') do |form| %>
          <br/>
          <%= form.text_area :message, id: 'message_content', placeholder: "What's on your mind, #{current_user.first_name}?" %>
          <br/>
          <%= form.submit 'Submit', :class => 'submit' %>
        <% end %>
      </div>
      <div class="notice"><%= flash[:alert] %></div>
          <% @posts.each do |post| %>
        <div id="posts" >

          <p> <%= post.owner %> posted: </p>
          <div id="message_body">
          <p><%= post.message.gsub(/(\r)?\n/, "<br/>").html_safe %></p>
          </div>

          <% if post.updatable? && (post.user_id == current_user.id) %>
            <div id="update_post">
              <%= form_with(model: post) do |form| %>
                <%= form.text_area :message, id: 'update_content' %>
                <br/>
                <%= form.submit "Update Post", :class => 'submit' %>
              <% end %>
            </div>
          <% end %>
          <div id="time_and_delete">
            <%= post.created_at.localtime.strftime('%k:%M') %> | <%= post.created_at.localtime.strftime('%d/%m/%Y') %>
          <% if post.user_id == current_user.id %>
            <%= link_to 'Delete Post', post_path(post), method: :delete, data: { confirm: 'Confirm Delete'} %>
          <% end %>
          </div>

          <hr />

          <div id="comments" style="margin-left: 20px;">
            <% post.comments.each do |comment| %>
              <%= comment.owner %> commented: <br/>
              <div id="comment_body">
              <%= comment.message %> <br/>
              </div>
              <div id="time_and_delete">
              <%= comment.created_at.localtime.strftime('%k:%M') %> | <%= comment.created_at.localtime.strftime('%d/%m/%Y') %>
              <% if comment.poster.to_i == current_user.id %>
                  <%= link_to 'Delete Comment', post_comments_path(comment), method: :delete, class: :delete, data: { confirm: 'Confirm delete'} %>
              <% end %>
              </div>
              <% if comment.updatable? && (comment.poster.to_i == current_user.id) %>
                <div id="update_comment">
                  <%= form_with(scope: :comment, url: post_comment_path(post, id: comment.id), method: :update) do |form| %>
                    <%= form.text_area :message, id: 'update_comment' %>
                    <br/>
                    <%= form.submit "Update Comment", method: :update, :class => "submit" %>
                  <% end %>
                </div>
              <% end %>


            <% end %>

            <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
            <p>
              <%= form.text_area :message, id: 'add_comment'%>
            </p>
              <p><%= form.submit "New Comment", :class => 'submit' %></p>
            <% end %>
            </div>

        <br/>
        </div>
        <% end %>
      </div>

  </div>

</div>

<br>
